{
	"parserOptions": {
		"ecmaVersion": 2017
	},
	"rules": {
		"indent": [
			"error",
			"tab"
		],
		"max-params": "off",
		"operator-linebreak": [
			"error",
			"before"
		]
	},
	"overrides": [
		{
			"files": ["**/*.ts"],
			"rules": {
				"@typescript-eslint/member-delimiter-style": [
					"error",
					{
						"singleline": {
							"delimiter": "comma",
							"requireLast": false
						},
						"multiline": {
							"delimiter": "comma",
							"requireLast": true
						}
					}
				]
			}
		}
	]
}
